.form {
  margin: 0 auto;
  background-color: #F7ECEB;
  justify-content: center;
  width: 700px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;

}
.descrip {
  color: #53576F;
}
.fontColor {
  color: #707070;
  font-weight: bold;
  font-size: small;
}
.icon {
  color: #707070;
  font-weight: bold;
  font-size: small;
  margin-left: 10px;
}

.switch { 
  position : relative;
   display : inline-block;
   margin: auto;
   width : 180px;
   height : 40px;
   background-color:white;
}

.switch::after {
  content: "Female Male";
  display: block;
  position: absolute;
  width: 60px;
  height: 30px;
  background: antiquewhite;
  left: 1px;
  top: 10px;
  font-size: 12px;
  word-spacing: 90px;
  color: salmon;
  white-space: nowrap;
  transition: all .6s;
  white-space: nowrap;
}

.checkbox:checked + .switch::after {
  left : 20px; 
}
.checkbox:checked + .switch {
  background-color: white;
}

.checkbox{
  display: none;
}

.switch2 { 
  position : relative;
   display : inline-block;
   margin: auto;
   width : 180px;
   height : 40px;
   background-color:white;
}

.switch2::after {
  content: "Yes No";
  display: block;
  position: absolute;
  width: 60px;
  height: 30px;
  background: antiquewhite;
  left: 1px;
  top: 10px;
  font-size: 12px;
  word-spacing: 90px;
  color: salmon;
  white-space: nowrap;
  transition: all .6s;
}

.checkbox2:checked + .switch2::after {
  left : 20px; 
}
.checkbox2:checked + .switch2 {
  background-color: white;
}

.checkbox2{
  display: none;
}
.switch3 { 
  position : relative;
   display : inline-block;
   margin: auto;
   width : 510px;
   height : 40px;
   background-color:white;
}

.switch3::after {
  content: "0-25lbs 25-50lbs 50-100lbs 100+lbs";
  display: block;
  position: absolute;
  width: 60px;
  height: 30px;
  background: antiquewhite;
  left: 1px;
  top: 10px;
  font-size: 12px;
  word-spacing: 90px;
  color: salmon;
  white-space: nowrap;
  transition: all .6s;
}

.checkbox3:checked + .switch3::after {
  left : 20px; 
}
.checkbox3:checked + .switch3 {
  background-color: white;
}

.checkbox3{
  display: none;
}


.buttons {
  background-color: white;
  color: grey;
  padding: 15px 32px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  text-decoration:none;
}


.toggleSwitchesContainer {
  color: #707070;
  font-weight: bold;
  font-size: small;
  display:inline-block;
}

.topPart {
 display: block;
}