.form {
  background-color: #F7ECEB;
  justify-content: center;
  width: 700px;
  margin: 0 auto;
}
.descrip {
  color: #53576F;
}
.fontColor {
  color: #707070;
  font-weight: bold;
  font-size: small;
}
.icon {
  color: #707070;
  font-weight: bold;
  font-size: small;
  margin-left: 10px;
}
